body, html {
    height: 100%;
    margin: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0d0d0d;
    color: #fff;
}

.container {
    text-align: center;
    width: 90%;
    max-width: 600px;
}

h1 {
    font-size: 3rem;
    color: #ff0055;
    text-shadow: 0 0 10px #ff0055, 0 0 20px #ff0055, 0 0 30px #ff0055, 0 0 40px #ff0055;
}

#generateBtn {
    padding: 15px 30px;
    margin: 20px 0;
    font-size: 18px;
    cursor: pointer;
    background-color: #333;
    border: 2px solid #ff0055;
    color: #ff0055;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
    text-shadow: 0 0 10px #ff0055;
}

#generateBtn:hover {
    background-color: #ff0055;
    color: #0d0d0d;
    border: 2px solid #0d0d0d;
}

.gradient-preview {
    width: 100%;
    height: 300px;
    margin: 20px 0;
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    border: 2px solid #ff0055;
    box-shadow: 0 0 20px #ff0055;
}

textarea {
    width: 100%;
    height: 100px;
    background: #222;
    color: #ff0055;
    border: 2px solid #ff0055;
    padding: 10px;
    font-size: 16px;
    resize: none;
    box-shadow: 0 0 10px #ff0055;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
